# Author: Pander <pander@users.sourceforge.net>
# License: Apache License 2.0
# Version: 0.1
# Date: 2018-02-22

SET UTF-8

TRY abceghijlmnopqrthuvwy'DHQS

WORDCHARS abceghijlmnopqrthuvwy'’DHQS
#TODO Note that WORDCHARS are being used! Discuss for Nuspell.

# support QEWRTY and AZERTY keyboards
KEY qwertyuiop|asdfghjkl|zxcvbnm|qawsedrftgyhujikolp|azsxdcfvgbhnjmk|aze|qsd|lm|wx|aqz|qws|

ICONV 1
ICONV ’ '

